[submodule "4-Архитектура Компьютера (АК)/csa_lab3"]
	path = 4-Архитектура Компьютера (АК)/csa_lab3
	url = https://github.com/glebmavi/csa_lab3
	branch = main
[submodule "5-Системы Искусственного Интеллекта (СИИ)/AIS"]
	path = 5-Системы Искусственного Интеллекта (СИИ)/AIS
	url = https://github.com/glebmavi/AIS
	branch = main
[submodule "5-Администрирование СУБД/SUBD"]
	path = 5-Администрирование СУБД/SUBD
	url = https://github.com/glebmavi/SUBD
	branch = main
[submodule "5-Анализ Социальных Сетей/Social-Network-Analysis"]
	path = 5-Анализ Социальных Сетей/Social-Network-Analysis
	url = https://github.com/glebmavi/Social-Network-Analysis
	branch = main
[submodule "5-Операционные Системы (ОС)/Lab 1/OperatingSystems_Lab1"]
	path = 5-Операционные Системы (ОС)/Lab 1/OperatingSystems_Lab1
	url = https://github.com/glebmavi/OperatingSystems_Lab1.git
[submodule "5-Операционные Системы (ОС)/Lab 2/OperatingSystems_Lab2"]
	path = 5-Операционные Системы (ОС)/Lab 2/OperatingSystems_Lab2
	url = https://github.com/glebmavi/OperatingSystems_Lab2
[submodule "5-Операционные Системы (ОС)/Lab 3/OperatingSystems_Lab3"]
	path = 5-Операционные Системы (ОС)/Lab 3/OperatingSystems_Lab3
	url = https://github.com/glebmavi/OperatingSystems_Lab3.git
[submodule "5-Операционные Системы (ОС)/RubezhOS"]
	path = 5-Операционные Системы (ОС)/RubezhOS
	url = https://github.com/glebmavi/RubezhOS
[submodule "6-Разработка Компиляторов (КС)/Compilers-Develpment"]
	path = 6-Разработка Компиляторов (КС)/Compilers-Develpment
	url = https://github.com/glebmavi/Compilers-Develpment.git
[submodule "6-Разработка Компиляторов (РК)/Compilers-Development"]
	path = 6-Разработка Компиляторов (РК)/Compilers-Development
	url = https://github.com/glebmavi/Compilers-Development.git
[submodule "6-Разработка Компиляторов (РК)/Project/compilers-itmo-project"]
	path = 6-Разработка Компиляторов (РК)/Project/compilers-itmo-project
	url = https://github.com/niikmynick/compilers-itmo-project
[submodule "6-Нейротехнологии и аффективные вычисления (Нейро)/Project/emotion-sticker-bot"]
	path = 6-Нейротехнологии и аффективные вычисления (Нейро)/Project/emotion-sticker-bot
	url = https://github.com/niikmynick/emotion-sticker-bot.git
	branch = dev
