[submodule "4-Основы Программной Инженерии (ОПИ)/Lab3/WebLab3"]
	path = 4-Основы Программной Инженерии (ОПИ)/Lab3/WebLab3
	url = https://github.com/glebmavi/WebLab3.git
[submodule "4-Архитектура Компьютера (АК)/csa_lab3"]
	path = 4-Архитектура Компьютера (АК)/csa_lab3
	url = https://github.com/glebmavi/csa_lab3
