4 - Вычислительная Математика (ВычМат)/.idea/.gitignore
4 - Вычислительная Математика (ВычМат)/.idea/misc.xml
4 - Вычислительная Математика (ВычМат)/.idea/modules.xml
4 - Вычислительная Математика (ВычМат)/.idea/vcs.xml
4 - Вычислительная Математика (ВычМат)/.idea/VychMat.iml
4 - Вычислительная Математика (ВычМат)/.idea/inspectionProfiles/profiles_settings.xml
1-Информатика/Lab3/Lab3_regex/.idea/.gitignore
1-Информатика/Lab3/Lab3_regex/.idea/Lab3_regex.iml
1-Информатика/Lab3/Lab3_regex/.idea/misc.xml
1-Информатика/Lab3/Lab3_regex/.idea/modules.xml
1-Информатика/Lab3/Lab3_regex/.idea/vcs.xml
1-Информатика/Lab3/Lab3_regex/.idea/inspectionProfiles/profiles_settings.xml
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/.gitignore
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/CSV_JSON.iml
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/misc.xml
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/modules.xml
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/vcs.xml
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/inspectionProfiles/profiles_settings.xml
1-Информатика/Рубежка 1/CSV_JSON РК_1/.idea/inspectionProfiles/Project_Default.xml
4-Вычислительная Математика (ВычМат)/.idea/.gitignore
4-Вычислительная Математика (ВычМат)/.idea/misc.xml
4-Вычислительная Математика (ВычМат)/.idea/modules.xml
4-Вычислительная Математика (ВычМат)/.idea/vcs.xml
4-Вычислительная Математика (ВычМат)/.idea/VychMat.iml
4-Вычислительная Математика (ВычМат)/.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
