4 - Вычислительная Математика (ВычМат)/.idea/.gitignore
4 - Вычислительная Математика (ВычМат)/.idea/misc.xml
4 - Вычислительная Математика (ВычМат)/.idea/modules.xml
4 - Вычислительная Математика (ВычМат)/.idea/vcs.xml
4 - Вычислительная Математика (ВычМат)/.idea/VychMat.iml
4 - Вычислительная Математика (ВычМат)/.idea/inspectionProfiles/profiles_settings.xml
